<footer class="w-full">
    {% if pages %}
        <div class="container mx-auto text-center">
            <div class="flex justify-center py-4">
                {% for item in pages %}
                    <a class="px-2" href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</footer>