<div class="logo-font w-full h-full bg-logo fg-logo table">
    <div class="text-4xl lg:text-6xl align-middle table-cell pl-8">
        <p>the</p>
        <p class="font-extrabold">hallway</p>
        <p>track</p>
    </div>
</div>